*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: content-box;
}

body {
    background: #222;
}

.card {
    width: 80%;
    max-width: 450px;
    background: linear-gradient(135deg, #34518f, #050505);
    color: #ffffff;
    margin: 100px auto 0;
    border-radius: 30px;
    padding: 20px 40px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #000000;
    padding: 15px 25px;
    height: 20px;
    border-radius: 20px;
    flex: 1;
    margin-right: 16px;
    font-size: 20px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 20px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 70px;
    font-weight: 500;
}

.weather h1 {
    font-size: 35px;
    font-weight: 400;
    margin-top: 10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px; 
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 25px;
    margin-top: -5px;
}

.weather {
    display: none;
}

.error {
    display: none;
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
    margin-top: 10px;
}